<style>
    .interruption-picture {
      width: 120px;
      height: 120px;
    }
</style>

<div class="container-fluid">



    <div class="row-fluid">
        <ul class="tabs nav nav-tabs centered">
                <li ng-class="{active: $index == 0}" ng-repeat='(key, cat) in categories'><a href="#{{key}}" data-toggle="tab">{{cat.title}}</a></li>
        </ul>
    </div>

    <div class="row-fluid">

      <div class="tab-content">
          <!-- Fun -->
          <div class="tab-pane" ng-class='{active: $index == 0}' id="{{cat_key}}" ng-repeat='(cat_key, cat) in categories'>
              <div class="col-xs-6 pouz" ng-repeat='(pouz_key, interruption) in interruptions' ng-if='interruption.category == cat_key'>
                  <a href="#" ng-click='open(pouz_key, interruption)'>
                      <div class="centered">
                          <img class="img-rounded interruption-picture" src="{{interruption.picture}}" alt=""/>
                          <div class="pouz-title">{{interruption.title}}</div>
                      </div>
                  </a>
              </div>
          </div>


      </div>

    </div>
</div>

