    <div id="main" class="container-fluid" ng-controller='LoginController'>
        
        <div class="row-fluid">
            <div class="col-xs-12">
                <img src="../img/logo-pouz.svg" alt="Pouz" class="logo" />
            </div>
        </div>
                
            
        <div class="row-fluid">
            <div class="col-xs-1"></div>

            <div class="col-xs-10">
                
                <p class="tagline">Loading...</p>
             
            </div>

            <div class="col-xs-1"></div>
        </div>
        
    </div>
