<style>
html,body {
    background: white;
}
    .interruption-picture {
      width: 120px;
      height: 120px;
    }

    .toolbar{
            width: 90%;
            margin: auto;
        }

    .badge-img{
      left: -25%;
    }

    hr{
        position: relative;
        top: -65px;
    }
</style>

<div ng-controller='PouzReceivedController'>
<div class="row-fluid clearfix" id="header">

        <div class="col-xs-3">
            <a href=""  ng-click='back()'>&lt;BACK</a>
        </div>

        <div class="col-xs-6 col-xs">
            <img src="img/logo-pouz.png" alt="Pouz" style="max-height: 70px; max-width:100%; margin-top: 10px;"/>
        </div>

    </div>
    <br />
  <span class="pouz"><span style="color:#E74B3c;">{{sender.name}}</span> pouzed you</span>
    <br /><br />
  <div class="row-fluid clearfix">
      <!-- Profile Badge -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10 col-md-10">

          <div class="media text-center">
              <img class="img-circle medium-width-img" src="{{interruption.picture}}"  alt=""/>
              <img class="badge-img bordered-img img-circle small-width-img" src="{{sender.picture.data.url}}" />
          </div>

      </div>
  </div>

     <h3 class="name">{{interruption.title}}</h3>
    <hr />

    <p class="text">{{interruption.description}}</p>


    <!-- Interruption Controls -->
    <div id="interruptionControls">
        <div class="btn-toolbar text-center hellyes">


                <button class="btn btn-blue btn-lg later"  ng-click='deny()'>

            <img src="img/later.png" height="20px"/> &nbsp; Later

        </button>

        <button class="btn btn-success btn-green btn-lg" ng-click='accept()'>

            <img src="img/hell-yes.png" height="20px"/> &nbsp; Hell yes!

        </button>
        </div>
    </div>





</div>