<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<style>
    #header{
        height: 70px;
        background: #E74B3c;
        line-height: 70px;
    }
    a{
        color: white;
        font-weight: lighter;
        font-size: 15px;
    }
</style>
<body>
    <div class="row-fluid clearfix" id="header">
        
        <div class="col-xs-3">
            <a href="#">< BACK</a>
        </div>

        <div class="col-xs-6 col-xs">
            <img src="../img/logo-pouz.png" alt="Pouz" style="margin-top: 10px;"  class="img-responsive"/>
        </div>

    </div>

<div class="container-fluid">
    


    <div class="row-fluid">


        
        <!-- Interruption Icon -->
        <div id="interruptionIcon">
            <img class="img-rounded" src="http://placehold.it/150x150" alt=""/>
            <img class="img-rounded" src="http://placehold.it/50x50" alt=""/>
        
        </div>
        <br />

        <!-- Interruption Name -->
        <div id="interruptionName">
            <h3>NAME</h3>
        </div>
        <br />


        <!-- Interruption Fact -->
        <div id="interruptionFact">
            <p>
                Lorem Ipsum
            </p>
        </div>
        <br />
    
        <!-- Interruption Controls -->
        <div id="interruptionControls">
            <div class="btn-group">
                <button type="button" class="btn btn-danger">X</button>
                <button type="button" class="btn btn-success">Interrupt</button>
            </div>
        </div>
    </div>
</div>
</body>