<div ng-controller='WellcomeController'>


        <div class="row-fluid">
            <div class="col-xs-12">
                <img src="../img/logo-pouz.png" alt="Pouz" class="logo"  class="img-responsive"/>
            </div>
        </div>


        <div class="row-fluid">
            <div class="col-xs-1"></div>

            <div class="col-xs-10">

                <p class="tagline">
                WELLCOME TO POUZ!
                <br>
                Pouz someone!</p>

            </div>

            <div class="col-xs-1"></div>
        </div>

        <div class='row-fluid'>
          <div class='col-xs-12'>
<button class="btn btn-lg btn-block btn-success" ng-click="continue()">
                    <img src="../img/thats-great.png" height="20px"/> &nbsp; CONTINUE

                </button>
          </div>
        </div>


</div>