<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>

<style>

    #header{
        background-color: #e74b3c;
    }

    a{
        font-weight: lighter;
        color: white;
    }
    
    #acknowledgementTitle{
        text-align: center;
        font-weight: bold;
    }

</style>
<body>
<div class="container-fluid">
    
    <div class="row-fluid" id="header" style="background-color: #E74B3C">
        
        <div class="col-xs-3">
            <a href="#">< BACK</a>
        </div>

        <div class="col-xs-6">
            <img src="../img/logo-pouz.svg" alt="Pouz" />
        </div>
        
        <div class="col-xs-3"></div>
    
    </div>
    
    <div class="clearfix"></div>

    <div class="row-fluid">

        <!-- Acknowledgement -->
        <div id="acknowledgementTitle">
            <h3>HELL YES</h3>
        </div>
        <br />

        <!-- Profile Badge -->
        <div id="profileIcon">
            <img class="img-rounded" src="" alt=""/>
        </div>
        <br />

        <!-- Acknowledgement Fact -->
        <div id="acknowledgementFact">
            <p>
                Lorem Ipsum
            </p>
        </div>
        <br />
        
        <!-- Acknowledgement Controls -->
        <div id="acknowledgementControls">
            <button type="button" class="btn btn-success btn-block">Got It</button>
        </div>
    </div>
</div>
</body>