<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>

    <style>
        #header{
            height: 70px;
            background: #E74B3c;
            line-height: 70px;
        }
        a{
            color: white;
            font-weight: lighter;
            font-size: 15px;
        }
        .name{
            font-weight: bold;
            font-size: 38px;
            color:#E74B3c;
        }
    </style>

    <div class="row-fluid clearfix" id="header">
        
        <div class="col-xs-3">
            <a href="#">< BACK</a>
        </div>

        <div class="col-xs-6 col-xs">
            <img src="../img/logo-pouz.svg" alt="Pouz" style="margin-top: 10px;"/>
        </div>

    </div>
    
    <br />

    <div class="row-fluid clearfix">
        <!-- Profile Badge -->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <img class="img-circle" src="http://placehold.it/250x250" alt=""/>
        </div>
    </div>

        <!-- Acknowledgement Fact -->
    <div class="pagination pagination-center" >
        <h2 class="name">Francesco</h2>
        <p>said HELL yes to your POUZ</p>
    </div>
    
        

</body>