<div class="container-fluid">
    <div class="row-fluid">

        <!-- Aknowledgement -->
        <div id="aknowledgementTitle" class="row-fluid">
            <h3>HELL YES</h3>
        </div>
        <br />

        <!-- Profile Badge -->
        <div id="profileIcon">
            <img class="img-rounded" src="" alt=""/>
        </div>
        <br />

        <!-- Aknowledgement Fact -->
        <div id="aknowledgementFact">
            <p>
                Lorem Ipsum
            </p>
        </div>
        <br />
        
        <!-- Aknowledgement Controls -->
        <div id="aknowledgementControls">
            <button type="button" class="btn btn-success btn-block">Got It</button>
        </div>
    </div>
</div>