<style>
    body, html{
        background: #e74b3c;
    
    }
    
    #main{
        margin-top: 45%;
    }

    .logo{
        width: 95%;
    }

    h1{
        color: white;
        font-weight: bolder;
        text-align: center;
    }    

</style>
<body>
    <div id="main" class="container-fluid" ng-controller='SentController'>
        
        <div class="row-fluid">
            <div class="col-xs-12">
                <img src="../img/paper-plane.svg" alt="Pouz" class="logo" />
                
                <br />
                
                <h1>POUZ SENT!</h1>
                
                <br/><br />
                <button class="btn btn-lg btn-block btn-success" ng-click="back()">
                    <img src="../img/thats-great.svg" height="20px"/> &nbsp; That's great man!
            
                </button>

            </div>
        </div>
                
    </div>
</body>