<div class="container-fluid">
    <div class="row-fluid">
        
        <!-- Interruption Icon -->
        <div id="interruptionIcon">
            <img class="img-rounded" src="" alt=""/>
        </div>

        <!-- Interruption Name -->
        <div id="interruptionName">
            <h3>NAME</h3>
        </div>

        <!-- Interruption Fact -->
        <div id="interruptionFact">
            <p>
                Lorem Ipsum
            </p>
        </div>
    
        <!-- Interruption Controls -->
        <div id="interruptionControls">
            <div class="btn-group">
                <button type="button" class="btn btn-danger">Maybe Later</button>
                <button type="button" class="btn btn-success">Fuck Yeah</button>
            </div>
        </div>
    </div>
</div>