<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<style>
    #header{
        height: 70px;
        background: #E74B3c;
    }

    .pouz-title {
        font-weight: bold;
        font-size: 20px;
    }

    .pouz {
        padding: 15px;
    }

    .centered {
        text-align: center;
    }

    .tabs {
        padding: 10px;
    }

    .tabs li {
        margin-left: 10px;
        margin-right: 10px;
    }
</style>
<body>
<div class="container-fluid">
    
    <div class="row-fluid clearfix" id="header">
        
        <div class="col-xs-3">
            <a href="#">< BACK</a>
        </div>

        <div class="col-xs-6 col-xs">
            <img src="../img/logo-pouz.svg" alt="Pouz" />
        </div>

    </div>

    <div class="row-fluid">
        <ul class="tabs nav nav-tabs centered">
                <li class="active"><a href="#fun" data-toggle="tab">Fun</a></li>
                <li><a href="#health" data-toggle="tab">Health</a></li>
                <li><a href="#social" data-toggle="tab">Social</a></li>
        </ul>
    </div>

    <div class="row-fluid">

        <div class="tab-content">
            <!-- Fun -->
            <div class="tab-pane active" id="fun">
                <div class="col-xs-6 pouz">
                    <a href="#">
                        <div class="centered">
                            <img class="img-rounded" src="http://placehold.it/150x150" alt=""/>
                            <div class="pouz-title">Title</div>
                        </div>
                    </a>
                </div>
                       
                <div class="col-xs-6 pouz">
                    <a href="#">
                        <div class="centered">
                            <img class="img-rounded" src="http://placehold.it/150x150" alt=""/>
                            <div class="pouz-title">Title</div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Health -->
            <div class="tab-pane" id="health">
                <div class="col-xs-6 pouz">
                    <a href="#">
                        <div class="centered">
                            <img class="img-rounded" src="http://placehold.it/150x150" alt=""/>
                            <div class="pouz-title">Title</div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Fun -->
            <div class="tab-pane" id="social">
            </div>
                
        </div>     

        </div>
    </div>
</div>
</body>